---
import data from '../assets/data/projects.json';
import Layout from '../layouts/Layout.astro';
import ProjectsItem from '../components/ProjectsItem.astro';
---

<Layout
    title='Projects'
    description='Projects I worked on'
>
    <section class='projects page'>
        <h3>These are my projects</h3>

        <div class='image-container'>
           {
              data.projects.map(project => (
                 <ProjectsItem
                     key={project.id}
                     id={project.id}
                     thumbnail={project.thumbnail}
                     title={project.title}
                     description={project.description}
                     url={project.url}
                     tech={project.tech}
                     image={project.image}
                 />
              ))
           }
        </div>
    </section>
</Layout>

<style lang='scss'>
    .projects {
        border: 1px solid var(--color-pink-400);
        border-radius: 8px;

        .image-container {}
    }
</style>