---
import data from '../assets/data/projects.json';
import Layout from '../layouts/Layout.astro';
import ProjectsItem from '../components/ProjectsItem.astro';
---

<Layout
    title='Projects'
    description='Projects I worked on'
>
    <section class='projects opacity-0 page max-w-4xl'>
        <h3 class='mb-20 text-center'>The projects I worked on</h3>

        <div class='image-container'>
           {
              data.projects.map(project => (
                  <ProjectsItem
                      key={project.id}
                      id={project.id}
                      thumbnail={project.thumbnail}
                      title={project.title}
                      description={project.description}
                      url={project.url}
                      tech={project.tech}
                      image={project.image}
                      video={project.video}
                  />
              ))
           }
        </div>
    </section>
</Layout>

<style>
    .projects {
        .image-container {
            align-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;
        }
    }
</style>

<script>
   import { gsap } from 'gsap';
   const projects = document.querySelector('.projects');
   const h3 = document.querySelector('h3');
   const thumbnail = document.querySelectorAll('.projects-item');
   const timeline = gsap.timeline({
      defaults: {
         duration: 1,
      }
   });

   timeline
      .to(projects, {
         opacity: 1,
      })
      .from(h3, {
         y: '-25vh',
      })
      .fromTo(thumbnail, {
         opacity: 0,
      }, {
         delay: 0.5,
         opacity: 1,
         stagger: 1,
      });
</script>