---
import data from '../assets/data/projects.json';
import Layout from '../layouts/Layout.astro';
import ProjectsItem from '../components/ProjectsItem.astro';
import {Image} from 'astro:assets';
---

<Layout
    title='Projects'
    description='Projects I worked on'
>
    <section class='projects'>
        <h3 class='mb-20 text-center'>
            <span>The</span>
            <span class='underline-container'>projects<span class='underline-1'></span><span class='underline-2'></span></span>
            <span>I worked on</span>
        </h3>

        <div class='image-container'>
           {
              data.projects.map(project => (
                 <!--  Modal Trigger  -->
                  <Image
                      onclick={`my_modal_${project.id}.showModal()`}
                      src={project.thumbnail}
                      class='thumbnail'
                      alt='Project image'
                      width='250'
                      height='250'
                  />

                  <ProjectsItem
                      key={project.id}
                      id={project.id}
                      title={project.title}
                      tagline={project.tagline}
                      description={project.description}
                      url={project.url}
                      tech={project.tech}
                      image={project.image}
                      video={project.video}
                  />
              ))
           }
        </div>
    </section>
</Layout>

<style>
    .projects {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .image-container {
            align-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;

            /* Desktop */
            @media (min-width: 1024px) {
                &:nth-of-type(1) img.thumbnail {
                    border-radius: 32px 0 0 0;
                }

                &:nth-of-type(2) img.thumbnail {
                    border-radius: 0 32px 0 0;
                }

                &:nth-of-type(3) img.thumbnail {
                    border-radius: 0 0 0 32px;
                }

                &:nth-of-type(4) img.thumbnail {
                    border-radius: 0 0 32px 0;
                }

                &:nth-of-type(2) img.thumbnail:hover,
                &:nth-of-type(3) img.thumbnail:hover {
                    border-radius: 0 16px 0 16px;
                }

                &:first-child img.thumbnail:hover,
                &:last-child img.thumbnail:hover {
                    border-radius: 16px 0 16px 0;
                }
            }

            img.thumbnail {
                border-radius: 16px;
                transition: all .25s;
                filter: grayscale(1) invert(1);

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    transform: scale(1.12);
                    filter: none;
                }

                /* Desktop */
                @media (min-width: 1024px) {
                    height: 225px;
                    opacity: 0.95;
                    width: 320px;
                }
            }
        }
    }
</style>

<script>
   import { gsap } from 'gsap';

   const projects = document.querySelector('.projects');
   const h3 = document.querySelector('h3');
   const underline = document.querySelector('.underline-1');
   const underline2 = document.querySelector('.underline-2');
   const thumbnail = document.querySelectorAll('.thumbnail');
   const timeline = gsap.timeline({
      defaults: {
         duration: 1,
         ease: 'expo.in',
      }
   });

   timeline
      .to(projects, {
         opacity: 1,
      })
      .from(h3, {
         y: '-50vh',
         ease: 'circ',
      })
      .fromTo(thumbnail, {
         opacity: 0,
      }, {
         opacity: 1,
         stagger: 1,
      })
      .to(underline, {
         duration: 0.5,
         ease: 'sine.out',
         width: '100%',
      })
      .to(underline2, {
         duration: 4,
         ease: 'elastic.out',
         width: 'calc(105% + 5px)',
      });
</script>