---
import data from '../assets/data/tech.json';
import Layout from '../layouts/Layout.astro';
import TechItem from '../components/TechItem.astro';
---

<Layout
    title='Tech stack'
    description='My tech stack and skills'
>
    <section class='tech text-center'>
        <h3>
            <span>The</span>
            <span class='underline-container'>tools<span class='underline-1'></span><span class='underline-2'></span></span>
            <span>I use</span>
        </h3>

        <div class='py-6 flex justify-center flex-wrap'>
           {
              data?.tech?.map(item => (
                  <TechItem
                      key={item.name}
                      name={item.name}
                      icon={item.icon}
                      description={item.description}
                      url={item.url}
                  />
              ))
           }
        </div>
    </section>
</Layout>

<script>
   import { gsap } from 'gsap';
   let mm = gsap.matchMedia();

   const tech = document.querySelector('.tech');
   const techItem = document.querySelectorAll('.tech-icon');
   const underline = document.querySelector('.underline-1');
   const underline2 = document.querySelector('.underline-2');
   const timeline = gsap.timeline({
      defaults: { duration: 1 }
   });

   mm.add('(min-width: 800px)', () => {
      timeline
         .to(tech, {
            opacity: 1,
         })
         .to(techItem, {
            opacity: 1,
            stagger: 0.25,
         })
         .to(underline, {
            duration: 0.5,
            ease: 'sine.out',
            width: '100%',
         })
         .to(underline2, {
            duration: 4,
            ease: 'elastic.out',
            width: 'calc(105% + 5px)',
         });
   });

   mm.add('(max-width: 799px)', () => {
      timeline
         .to(tech, {
            opacity: 1,
         })
         .to(techItem, {
            opacity: 1,
            stagger: 0.25,
         })
   });
</script>