---
import data from '../assets/data/tech.json';
import Layout from '../layouts/Layout.astro';
import TechItem from '../components/TechItem.astro';
---

<Layout
    title='Tech stack'
    description='My tech stack and skills'
>
    <section class='tech page text-center'>
        <h3 class=''>The tools I use</h3>

        <div class='flex justify-center flex-wrap'>
           {
              data?.tech?.map(item => (
                  <TechItem
                      key={item.name}
                      name={item.name}
                      icon={item.icon}
                      description={item.description}
                      url={item.url}
                  />
              ))
           }
        </div>
    </section>
</Layout>