---
import data from '../assets/data/tech.json';
import Layout from '../layouts/Layout.astro';
import TechItem from '../components/TechItem.astro';
---

<Layout
    title='Tech stack'
    description='My tech stack and skills'
>
    <section class='tech page opacity-0 text-center'>
        <h3>
            <span>The</span>
            <span class='underline-container'>tools<span class='underline'></span><span class='underline2'></span></span>
            <span>I use</span>
        </h3>

        <div class='flex justify-center flex-wrap'>
           {
              data?.tech?.map(item => (
                  <TechItem
                      key={item.name}
                      name={item.name}
                      icon={item.icon}
                      description={item.description}
                      url={item.url}
                  />
              ))
           }
        </div>
    </section>
</Layout>

<style>
    .tech {
        h3 {
            text-shadow: 0 0.5rem 2rem, 0 -0.5rem 1rem rgba(80, 76, 76, 0.75);
        }

        .underline-container {
            position: relative;
        }

        .underline,
        .underline2 {
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--color-pink-400);
            border-radius: 12px;
        }

        .underline2 {
            left: -5px;
            bottom: -12px;
            background-color: var(--color-emerald-500);
        }
    }
</style>

<script>
   import { gsap } from 'gsap';
   const tech = document.querySelector('.tech');
   const techItem = document.querySelectorAll('.tech-icon');
   const underline = document.querySelector('.underline');
   const underline2 = document.querySelector('.underline2');
   const timeline = gsap.timeline({
      defaults: { duration: 1 }
   });

   timeline
      .to(tech, {
         opacity: 1,
      })
      .to(techItem, {
         opacity: 1,
         stagger: 0.25,
      })
      .to(underline, {
         duration: 0.5,
         ease: 'sine.out',
         width: '100%',
      })
      .to(underline2, {
         duration: 4,
         ease: 'elastic.out',
         width: 'calc(105% + 5px)',
      });
</script>