---
import {Icon} from 'astro-icon/components';
import Logo from './Logo.astro';
const currentPath = Astro.url.pathname;
const isActive = path => currentPath === path ? 'active' : '';
const {
   href,
   label,
   icon
} = Astro.props;
---

<li class='mx-8 lg:mb-0'>
    <a
        href={href}
        class={`${isActive(href)} flex flex-col items-center content-center relative`}
        aria-label={label}
    >
       {
          icon && (
               <Icon
                   name={icon}
                   class='w-10 h-10'
               />
          )
       }

       {
          label === 'Home' && <Logo />
       }

        <span class='invisible absolute opacity-0 top-14'>{label}</span>
    </a>
</li>