---
import { Image } from 'astro:assets';
import { Button } from '@/components/starwind/button';

const {
   id,
   thumbnail,
   title,
   description,
   url,
   tech,
   image
} = Astro.props;

---

<div class='projects-item'>
    <!--  Modal Trigger  -->
    <Image
        onclick={`my_modal_${id}.showModal()`}
        src={thumbnail}
        alt='Project image'
        width='250'
        height='250'
    />

    <dialog id={`my_modal_${id}`} class='modal'>
        <div class='modal-box'>
            <!--  Modal Header  -->
            <h3 class='text-lg font-bold'>{ title }</h3>

            <!--  Modal Body  -->
            <p class='py-4'>{ description }</p>

            <Button
                href={url}
                target='_blank'
                rel='noopener noreferrer'
                aria-label={`${title} website`}
                class='my-4'
            >
                View Project
            </Button>
        </div>

        <form method='dialog' class='modal-backdrop'>
            <button>close</button>
        </form>
    </dialog>
</div>

<style>
    .projects-item {}
</style>