---
import { Image } from 'astro:assets';
import {Icon} from 'astro-icon/components';
import { Button } from '@/components/starwind/button';

const {
   id,
   thumbnail,
   title,
   tagline,
   description,
   url,
   tech,
   image,
   video
} = Astro.props;

---

<div class='projects-item opacity-0'>
    <!--  Modal Trigger  -->
    <Image
        onclick={`my_modal_${id}.showModal()`}
        src={thumbnail}
        class='thumbnail'
        alt='Project image'
        width='250'
        height='250'
    />

    <!--  Modal Content  -->
    <dialog id={`my_modal_${id}`} class='modal'>
        <div class='modal-box border w-11/12 max-w-3xl'>
            <form method='dialog'>
                <button class='btn btn-lg btn-circle btn-ghost absolute right-2 top-2 z-100'>
                    <Icon
                        name='iconoir:xmark'
                        class='w-6 h-6'
                    />
                </button>
            </form>

            <div class='card py-12 px-10 shadow-sm'>
                <div class='card-body'>
                    <!--  Media  -->
                    <div class='media-container h-[350px]'>
                       {
                          video && (
                               <video controls>
                                   <source src={video} type='video/webm'>
                                   Your browser does not support HTML video.
                               </video>
                          )
                       }

                       {
                          image && (
                               <figure>
                                   <Image
                                       src={image}
                                       alt='Project image'
                                       width='300'
                                       height='250'
                                   />
                               </figure>
                          )
                       }
                    </div>

                    <!--  Title  -->
                    <div class='title-container'>
                       <h2 class='text-emerald-300'>{ title }</h2>
                    </div>

                    <!--  Badges  -->
                    <div class='badges-container'>
                        <ul class='badges flex gap-2.5 flex-wrap'>
                           {
                              tech.stack.map((item, index) =>
                                  <li key={index} class='badge badge-primary'>{item}</li>
                              )
                           }
                        </ul>

                        <ul class='badges flex gap-2.5 flex-wrap'>
                           {
                              tech.modules.map(item =>
                                  <li class='badge badge-dash'>{item}</li>
                              )
                           }
                        </ul>
                    </div>

                    <!--  Tagline  -->
                   {
                      tagline && (
                           <div
                               role='alert'
                               class='alert alert-warning alert-soft'
                           >
                               <Icon
                                   name='iconoir:info-circle'
                                   class='w-6 h-6'
                               />
                               <div class='text-xs text-warning'>{ tagline }</div>
                           </div>
                      )
                   }

                    <!--  Description  -->
                    <p class='description'>{ description }</p>

                    <!--  Link to website  -->
                    <Button
                        id='button'
                        href={url}
                        target='_blank'
                        rel='noopener noreferrer'
                        aria-label={`${title} website`}
                        disabled={!url}

                    >
                       {url ? 'Visit Website' : '\uD83D\uDC94 Website not available \uD83D\uDC94'}
                    </Button>
                </div>
            </div>
        </div>

        <form method='dialog' class='modal-backdrop'>
            <button>close</button>
        </form>
    </dialog>
</div>

<style>
    .projects-item {
        figure,
        .media-container img,
        video {
            height: 100%;
            margin: 0 auto;
            width: 100%;
        }

        &:nth-of-type(1) img.thumbnail {
            border-radius: 32px 0 0 0;
        }

        &:nth-of-type(2) img.thumbnail {
            border-radius: 0 32px 0 0;
        }

        &:nth-of-type(3) img.thumbnail {
            border-radius: 0 0 0 32px;
        }

        &:nth-of-type(4) img.thumbnail {
            border-radius: 0 0 32px 0;
        }

        &:nth-of-type(2) img.thumbnail:hover,
        &:nth-of-type(3) img.thumbnail:hover {
            border-radius: 0 16px 0 16px;
        }

        &:first-child img.thumbnail:hover,
        &:last-child img.thumbnail:hover {
            border-radius: 16px 0 16px 0;
        }


        img.thumbnail {
            height: 225px;
            opacity: 0.95;
            transition: all .25s;
            width: 320px;

            &:hover {
                cursor: pointer;
                opacity: 1;
                transform: scale(1.1);
            }
        }

        .card {
            .card-body {
                gap: 0.7rem;
                padding: 0 var(--card-p, 1.5rem);

                .media-container img {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                .title-container {
                    h2 {
                        margin-block: calc(var(--spacing) * 0);
                        margin: 10px 20px 5px 0;
                    }
                }

                .badges-container {
                    .badges {
                        margin-bottom: 10px;
                    }
                }

                .description {
                    margin-bottom: 20px;
                }
            }
        }
    }
</style>