---
import { Image } from 'astro:assets';
import {Icon} from 'astro-icon/components';
import { Button } from '@/components/starwind/button';

const {
   id,
   thumbnail,
   title,
   description,
   url,
   tech,
   image,
   video
} = Astro.props;

---

<div class='projects-item'>
    <!--  Modal Trigger  -->
    <Image
        onclick={`my_modal_${id}.showModal()`}
        src={thumbnail}
        class='thumbnail opacity-0'
        alt='Project image'
        width='250'
        height='250'
    />

    <!--  Modal Content  -->
    <dialog id={`my_modal_${id}`} class='modal'>
        <div class='modal-box border w-11/12 max-w-3xl'>
            <form method='dialog'>
                <button class='btn btn-lg btn-circle btn-ghost absolute right-2 top-2 z-100'>
                    <Icon
                        name='iconoir:xmark'
                        class='w-6 h-6'
                    />
                </button>
            </form>

            <div class='card py-12 px-10 mx-auto bg-base-100 shadow-sm'>
                <div class='media-container h-[350px]'>
                   {
                      video && (
                           <video controls>
                               <source src={video} type="video/mp4">
                               Your browser does not support HTML video.
                           </video>
                      )
                   }

                   {
                      image && (
                           <figure>
                               <Image
                                   src={image}
                                   alt='Project image'
                                   width='300'
                                   height='250'
                               />
                           </figure>
                      )
                   }
                </div>

                <div class='card-body'>
                    <h2 class='text-emerald-300'>
                       { title }
                    </h2>

                    <div class='badges-container'>
                        <ul class='badges flex gap-2 flex-wrap'>
                           {
                              tech.stack.map((item, index) =>
                                  <li key={index} class='badge badge-primary'>{item}</li>
                              )
                           }
                        </ul>

                        <ul class='badges flex gap-2 flex-wrap'>
                           {
                              tech.modules.map(item =>
                                  <li class='badge badge-dash'>{item}</li>
                              )
                           }
                        </ul>
                    </div>

                    <p class='description'>{ description }</p>

                    <Button
                        id='button'
                        href={url}
                        target='_blank'
                        rel='noopener noreferrer'
                        aria-label={`${title} website`}
                        disabled={!url}

                    >
                       {url ? 'Visit Website' : '\uD83D\uDC94 Website not available \uD83D\uDC94'}
                    </Button>
                </div>
            </div>
        </div>

        <form method='dialog' class='modal-backdrop'>
            <button>close</button>
        </form>
    </dialog>
</div>

<style>
    .projects-item {
        dialog {
            padding-left: 100px !important;
        }

        figure,
        .media-container img,
        video {
            height: 100%;
            margin: 0 auto;
            width: 100%;
        }

        img.thumbnail {
            transition: all .25s;
            height: 225px;
            width: 320px;

            &:hover {
                border-top-left-radius: 12px;
                border-bottom-right-radius: 12px;
                cursor: pointer;
                transform: scale(1.15);
            }
        }

        .card {
            .media-container img {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            .card-body {
                gap: calc(0.45rem * 2);
                padding: var(--card-p, 1.5rem) 0 0;

                h2 {
                    margin-block: calc(var(--spacing) * 0);
                    margin: 10px 0 5px;
                }

                .badges-container {
                    .badges {
                        margin-bottom: 10px;
                    }
                }

                .description {
                    margin: 10px 0 30px;
                }
            }
        }
    }
</style>